@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
  
}
body{
  background-color: rgb(229, 250, 255);
  z-index: 0;
  color:white;
  
}

h1 {
  
  position:relative;
  right: 20%;
  
}
h2 {
  position: relative;
  left: 32%;
}
.container {
  background-color: rgb(229, 250, 255);
  border-radius: 15px;
  margin-left:150px;
  
}
#modalOverlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.8);
  z-index:9999;
}

#modal {
  position:fixed;
  z-index:9999;
  width:60%;
  top:55%;
  left:50%;
  padding:15px;
  text-align:center;
  background-color:#fafafa;
  border-radius: 15px;
  box-sizing:border-box;
  opacity:0;
  padding-top: 5vh;
  transform: translate(-50%,-50%);  
  transition:all 1050ms ease-in-out;
  display: flex;
  flex-direction: column;
}

#modalOverlay.modal-open #modal {
  opacity:1;
  top:50%;
}
input {
  margin-top: 15px;
  background-color: rgb(218, 208, 208);
  border-radius: 15px;
  height: 25px;
}
#create-employee {
  margin-left: 5%;
  margin-top: 7%;
  display: flex;
  align-items: center;
  
  

}
label {
  position:relative;
}

.Dropdown-control {
  border-radius: 5px;
  height: 25px;
  line-height: 5px;
  width: 150px;
}
.Dropdown-arrow {
  top: 11px;
}
a:hover {
  color: teal;
  border-radius: 25px;
  border: solid 1px;
  padding: 5px;
  box-shadow: 4px  2px teal;
}
.logo {
  display: flex;
  color: teal;
  font-style:oblique;
  justify-content:space-between;
  margin-right: 50px;
  margin-left: 50px;
}
img {
  width: 150px;
  
}
a {
  color: black;
  text-decoration: none;
}

.formulaireDiv{
  background-color: rgb(36, 160, 160);
  display: flex;
  border-radius: 25px;
  width: 70%;
  margin: 0 auto;
}

button
{
  color: teal;
  border-radius: 25px;
  border: solid 1px;
  width: 150px;
  height: 25px;
  margin: 55px auto;
  box-shadow: 4px  2px teal;

}


.list {
  margin-top: 9vh;
  position: absolute;
  right: 5%;
  text-decoration: underline;
}


button:hover {
  cursor: pointer;
  background-color: rgb(229, 250, 255);
  
  color: black;
}
.react-pagination-table {
  position: relative;
  border-radius: 15px;
  background: rgb(36, 160, 160);
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
}

.table-header {
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.react-pagination-table__sub-title {
  float: right;
}
.divFirstName, .lastName,.birthDate,.startdate,.departmentDiv {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding-left: 2% ;
  padding-right: 2%;
  align-items: center;
  border: solid 1px rgb(91, 196, 196);
  border-radius: 5px;
  padding-bottom: 15px;
}
.departmentDiv{
  margin-top: 5%;
  margin-bottom: 5%;

  margin-left: 55%;
}
.react-pagination-table__title,
.react-pagination-table__sub-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight:100;
  padding: 20px 20px 10px;
  
}
.address {
  align-items: center;
  display: flex;
  justify-content:space-between ;
  margin-left: 28%;
  padding: 25px;
  width: 100%;

}
.address div{
  margin-right: 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
  color:white;
  
  
}
.zip {
  margin-left: 55px;
}

.states label{
  margin-bottom: 15px;
  margin-left: 55px;
  
}
.states {
 
 width: 85px;

}
#submit {
  margin-left: 67% ;

}
.react-pagination-table__header {
  background: teal;
}

.react-pagination-table__table {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.pagination-status {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

.pagination-status__item {
  display: inline;
}

.pagination-status .pagination-status__btn {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  color: teal;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination-status .pagination-status__btn:focus {
  outline: none;
}

.pagination-status .pagination-status__btn--active,
.pagination-status .pagination-status__btn:hover {
  color: #fff;
  background-color: rgb(91, 196, 196);
  border-color: teal;
  cursor: pointer;
}

.pagination-status .pagination-status__btn--disable,
.pagination-status .pagination-status__btn--disable:hover {
  color: #d0d0d0;
  cursor: default;
  border-color: #d0d0d0;
  background-color: #fff;
}


img {
  width: 80px;
  right: 10%;
  top: 7%;
  z-index: 10;
  position: absolute;
  
}
table {
margin: 0 auto;

}

td {
  width: 100px;
  font-weight: 700;
  padding: 15px;
  text-align: center;
  color: white;
}


tr::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  border: solid 1px rgb(91, 196, 196);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.pagination-status button{
  width: 50px;
  margin: 20px;
  line-height: 5px;
}

.pagination-status {
  display: flex;
  justify-content: center;
}