@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
  
}
body{
  background-color: rgb(229, 250, 255);
  z-index: 0;
  
}
.title {
  background-color: rgb(229, 250, 255);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 250px;
  margin: 0 auto;
  padding-bottom: 5px;
}
h1 {
  
  position:relative;
  right: 20%;
  
}
h2 {
  position: relative;
  left: 32%;
}
.container {
  background-color: rgb(229, 250, 255);
  border-radius: 15px;
  margin-left:150px;
  
}
#modalOverlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.8);
  z-index:9999;
}

#modal {
  position:fixed;
  z-index:9999;
  width:60%;
  top:55%;
  left:50%;
  padding:15px;
  text-align:center;
  background-color:#fafafa;
  border-radius: 15px;
  box-sizing:border-box;
  opacity:0;
  padding-top: 5vh;
  transform: translate(-50%,-50%);  
  transition:all 1050ms ease-in-out;
  display: flex;
  flex-direction: column;
}

#modalOverlay.modal-open #modal {
  opacity:1;
  top:50%;
}
input {
  margin-top: 15px;
  background-color: rgb(218, 208, 208);
  border-radius: 15px;
}

a:hover {
  color: teal;
  border-radius: 25px;
  border: solid 1px;
  padding: 5px;
  box-shadow: 4px  2px teal;
}
.logo {
  display: flex;
  color: teal;
  font-style:oblique;
  justify-content:space-between;
  margin-right: 50px;
  margin-left: 50px;
}
img {
  width: 150px;
  
}
a {
  color: black;
  text-decoration: none;
}

.formulaireDiv{
  background-color: rgb(36, 160, 160);
  display: flex;
  border-radius: 5%;
  
  margin: 0 auto;
}

button
{
  color: teal;
  border-radius: 25px;
  border: solid 1px;
  width: 150px;
  height: 25px;
  margin: 55px auto;
  box-shadow: 4px  2px teal;

}


.list {
  margin-top: 9vh;
  position: absolute;
  right: 5%;
  text-decoration: underline;
}


button:hover {
  cursor: pointer;
  background-color: rgb(229, 250, 255);
  
  color: black;
}
.containers {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #283c34;
  text-align: center;
  width: 100%;
    height: 100%;
}

td {
  

  font-size: 18px;
  height: 55px;
  background-color:  rgb(36, 160, 160);;
  border-radius: 15px;
}


.rc-table {
  margin: 100px;
  
  
}
.containers {
  background-color: teal;
  border-radius: 25px;
  width: 95%;
  margin: 0 auto;
}
th {
  border-top: solid 2px white;
  border-right: solid 2px white;
  border-left: solid 2px white;
  font-family: 'Dongle', sans-serif;

}

tr::after {
 position: absolute;
  left: 150px;
  content: "";
  display:block;
  
  border-top: 4px solid teal;
  width: 84%;
}

img {
  background-color: rgb(199, 228, 228);
  
}