/*@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');*/

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  
  
}
body{
  background-color: rgb(229, 250, 255);
  z-index: 0;
  color:black;
  font-weight: 600;
  
}

h1 {
  
  position:relative;
  right: 20%;
  
}
h2 {
  position: relative;
  left: 32%;
}
.home {
  display: block;
 right: 5%;
 top: 8%;
 width: 150px;
  text-align: center;
  position: absolute;
  text-decoration: underline;
  font-style: oblique;
  
}
.QuerySearch__reset-button {
  display: none;
}
.container {
  background-color: rgb(229, 250, 255);
  border-radius: 15px;
  margin-left:150px;
  
}
#modalOverlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.8);
  z-index:9999;
}

#modal {
  position:fixed;
  z-index:9999;
  width:60%;
  top:55%;
  left:50%;
  padding:15px;
  text-align:center;
  background-color:#fafafa;
  border-radius: 15px;
  box-sizing:border-box;
  opacity:0;
  padding-top: 5vh;
  transform: translate(-50%,-50%);  
  transition:all 1050ms ease-in-out;
  display: flex;
  flex-direction: column;
}

#modal button {
  margin: 0 auto;
}

#modalOverlay.modal-open #modal {
  opacity:1;
  top:50%;
}
input {
  margin-top: 15px;
  background-color: rgb(218, 208, 208);
  border-radius: 15px;
  height: 25px;
  border: solid 2px .4;
  width: 250px;
  text-align: center;
}
#create-employee {
  justify-content: space-between;
  margin: 0 auto;
  

}
label {
  position:relative;
}

.Dropdown-control {
  border-radius: 5px;
  height: 25px;
  line-height: 5px;
  width: 250px;
}
.Dropdown-menu {
  width: 250px;
}
.Dropdown-arrow {
  top: 11px;
}
a:hover {
  color: teal;
  border-radius: 25px;
  border: solid 1px;
  padding: 5px;
  box-shadow: 4px  2px teal;
}
.logo {
  display: flex;
  color: teal;
  font-style:oblique;
  justify-content:space-between;
  margin-right: 50px;
  margin-left: 50px;
}

a {
  color: black;
  text-decoration: none;
}

.formulaireDiv{
  background-color: rgb(224, 245, 210);
  display: flex;
  height: 600px;
  
 
  margin: 0 auto;
}

button
{
  color: teal;

  border: solid 1px;
  width: 150px;
  height: 25px;
  
  box-shadow: 4px  2px teal;

}


.list {
  margin-top: 9vh;
  position: absolute;
  right: 5%;
  text-decoration: underline;
}


button:hover {
  cursor: pointer;
  background-color: rgb(229, 250, 255);
  
  color: black;
}
.react-pagination-table {
  position: relative;
  border-radius: 15px;
  background: rgb(36, 160, 160);
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
}

.table-header {
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.react-pagination-table__sub-title {
  float: right;
}
.divFirstName, .lastName,.birthDate,.startdate,.departmentDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
 
  padding-left: 2% ;
  padding-right: 2%;
  align-items: center;
  border: solid 1px rgb(91, 196, 196);
  width: 300px;
  border-radius: 5px;
  padding-bottom: 35px;
}
.departmentDiv{
  margin: 0 auto;
}
.react-pagination-table__title,
.react-pagination-table__sub-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  font-weight:100;
  padding: 20px 20px 10px;
  
}
.address {
  align-items: center;
  display: flex;
  justify-content:space-between ;
  
  padding: 25px;
  width: 100%;

}
.address div{
  margin-right: 25px;
  display: flex;
  text-align: center;
  flex-direction: column;
  
  
  
}
.zip {
  margin-left: 55px;
}

.states label{
  margin-bottom: 15px;
  margin-left: 55px;
  
}
.states {
 
 width: 180px;

}
#submit {
  margin: 0 auto;
  margin-bottom: 2%;

}

.invalid-input{
  border: solid 2px red;
  
}
caption {
  margin-top: 2%;
}
img {
  width: 130px;
  right: 47%;
  top: 4%;
  z-index: 10;
  position: absolute;
  
}
.DataTable__container{
  color: black;
}


.DataTable__buttons-container button {
  width:20px;
  position: absolute;
  
}
.DataTable__head-button-normal {
  left: 35%;
  top: 2px;
}
.DataTable__head-button-reverse {
right: 35%;
top: 2px;
}
.DataTable__buttons-container{
  position: relative;

}

.DataTable__head {
  height: 100px;
margin-top: 15%;
}

.DataTable__container {
  padding: 5%;
}
.ShowEntries select {
 margin-left: 10px;
 margin-right: 10px;
}

.QuerySearch__inputs-wrapper{
  margin-bottom: 25px;
}

.QuerySearch__inputs-wrapper input {
  width: 60%;
  margin-left: 25px;
}
button {
  padding-right: 17px;
}

.PaginationIndex  button {
  line-height: 0px;
  margin-left: 2%;
  width: 60px;
}
.PaginationIndex {
 margin: 0 auto;
}

td{
  text-align: center;
}